# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [2]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# enter your code here
orders = pd.read_csv("../../lab-subsetting-and-descriptive-stats/your-code/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [28]:
#step 1: get a DF of total spent per customer
customers_amount_spent = orders.groupby("CustomerID").agg({"amount_spent":"sum"})
customers_amount_spent

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
...                  ...
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

In [31]:
#step 2: define percentiles
preferred = customers_amount_spent["amount_spent"].quantile(0.75)
vip = customers_amount_spent["amount_spent"].quantile(0.95)

In [32]:
#step 3: label customers
def label(x):
    if x>=vip:
        return "VIP"
    elif x>=preferred:
        return "Preferred" 
    else:
        return "Normal"
    
customers_amount_spent["CustomerLabel"] = customers_amount_spent["amount_spent"].apply(lambda x: label(x))

In [35]:
#step 4: we create a copy of customers_amount_spent to merge with orders df.

cust_label = customers_amount_spent[["CustomerLabel"]].copy()

In [37]:
#step 5: merge dataframes

orders = pd.merge(orders, cust_label, on="CustomerID")

In [41]:
orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,CustomerLabel
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,Preferred
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,Preferred
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541801,581578,22993,2011,12,5,12,set of 4 pantry jelly moulds,12,2011-12-09 12:16:00,1.25,12713,Germany,15.00,Normal
397920,541802,581578,22907,2011,12,5,12,pack of 20 napkins pantry design,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,Normal
397921,541803,581578,22908,2011,12,5,12,pack of 20 napkins red apples,12,2011-12-09 12:16:00,0.85,12713,Germany,10.20,Normal
397922,541804,581578,23215,2011,12,5,12,jingle bell heart antique silver,12,2011-12-09 12:16:00,2.08,12713,Germany,24.96,Normal
397923,541805,581578,22736,2011,12,5,12,ribbon reel making snowmen,10,2011-12-09 12:16:00,1.65,12713,Germany,16.50,Normal

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [116]:
# Q2: How to identify which country has the most VIP Customers?
vip_country = orders[["CustomerID","Country","CustomerLabel"]].groupby(["CustomerLabel","Country"]).agg({"count"}).loc["VIP"].reset_index()

vip_country[vip_country[('CustomerID', 'count')]==vip_country[('CustomerID', 'count')].max()]

           Country CustomerID
                        count
17  United Kingdom      84185

In [132]:
#Q3: How to identify which country has the most VIP+Preferred Customers combined?
vip_country = orders[["CustomerID","Country","CustomerLabel"]].groupby(["CustomerLabel","Country"]).agg({"count"}).loc["VIP"].reset_index()
vip_country.columns = vip_country.columns.droplevel(1)
vip_country.columns = ["Country","VIP Customers"]

preferred_country = orders[["CustomerID","Country","CustomerLabel"]].groupby(["CustomerLabel","Country"]).agg({"count"}).loc["Preferred"].reset_index()
preferred_country.columns = preferred_country.columns.droplevel(1)
preferred_country.columns =["Country","Preferred Customers"]

vip_pref_cust = pd.merge(vip_country,preferred_country, on="Country")
vip_pref_cust["Sum"] = vip_pref_cust["VIP Customers"]+vip_pref_cust["Preferred Customers"]
vip_pref_cust[vip_pref_cust["Sum"]==vip_pref_cust["Sum"].max()]

           Country  VIP Customers  Preferred Customers     Sum
15  United Kingdom          84185               137450  221635